<section class="TodoSection">
    <div class="TodoSectionTitle">
        <p class="TodoSectionTitle-text"><%= section_title %></p>
            <label class="TodoSectionTitle-remaininCount"><%= todos.completed.count %> / <%= todos.count %></label>
    </div>
    <ul>
        <% todos.each do |todo| %>
            <li class="TodoItem">
                <label class="TodoItem-container">
                    <% if is_completed %>
                        <% if todo.completed %>
                            <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
                                <%= text_field_tag 'completed', nil, class: 'TodoItem-checkbox', type: 'checkbox', checked: 'false', onclick: 'this.form.submit()' %>
                            <% end %>
                        <% else %>
                            <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
                                <%= text_field_tag 'completed', nil, class: 'TodoItem-checkbox', type: 'checkbox', onclick: 'this.form.submit()' %>
                            <% end %>
                        <% end %>
                    <% else %>
                        <% if !todo.completed%>
                            <%= form_with(url: "/todos/#{todo.id}", method: "put") do %>
                           `    <%= text_field_tag 'completed', nil, class: 'TodoItem-checkbox', type: 'checkbox', onclick: 'this.form.submit()' %>                         
                            <% end %>
                        <% end %>
                    <% end %>
                    <% if is_completed %>
                        <% if todo.completed %>
                            <label style="text-decoration:line-through"><%= todo.todo_text %></label>
                        <% else %>
                            <label><%= todo.todo_text %></label>
                        <% end %>
                    <% else %>
                        <% if !todo.completed%>
                            <label><%= todo.todo_text %></label> 
                        <% end %>
                    <% end %>
                    <% if is_completed%>
                        <% if show_due_date %>
                            <label class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %></label>
                        <% end %>
                    <% else %>
                        <% if !todo.completed%>
                            <label class="TodoItem-dueDate"><%= todo.due_date.to_s(:short) %></label>
                        <% end %>
                    <% end %>
                    <% if is_completed %>
                        <a class="TodoItem-delete" href="javascript:void(0)">
                            <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                                <%= text_field_tag 'image', nil, type: "image", src: "trash-can-outline.png", height: "20" %>
                            <% end %>
                        </a>
                    <% else %>
                        <% if !todo.completed %>
                            <a class="TodoItem-delete" href="javascript:void(0)">
                                <%= form_with(url: "/todos/#{todo.id}", method: "delete") do %>
                                    <%= text_field_tag 'image', nil, type: "image", src: "trash-can-outline.png", height: "20" %>
                                <% end %>        
                            </a>
                        <% end %>
                    <% end %>
                </label>
            </li>
        <% end %>
    </ul>
</section>